*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}
header{
    display: block;
    height: 80px;
    padding: 0 16px;
    background-color: red;
}
header img{
    height: 32px;
    width: 54px;
}
.pesquisa{
    height: 132px;
    background-color: blue;
}